<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Bird</title>
</head>
<body>
    <form action="/birds/<%= bird._id %>?_method=PATCH" method="POST">
        <label for="name">Enter Name</label>
        <input type="text" name="name" id="name" placeholder="enter-name" value="<%= bird.name%>">

        <label for="species">Enter species</label>
        <input type="text" name="species" id="species" placeholder="enter-species" value="<%= bird.species %>">

        <label for="family">Enter Family</label>
        <input type="text" name="family" id="family" placeholder="enter-family" value="<%= bird.family %>">

        <label for="habitat">Enter habitat</label>
        <input type="text" name="habitat" id="habitat" placeholder="enter-habitat" value="<%= bird.habitat %>">

        <label for="place_of_found">Enter place_of_found</label>
        <input type="text" name="place_of_found" id="place_of_found" placeholder="enter-place_of_found" value="<%= bird.place_of_found %>">

        <label for="diet">Enter diet</label>
        <input type="text" name="diet" id="diet" placeholder="enter-diet" value="<%= bird.diet %>">

        <label for="description">Enter Description</label>
        <input type="text" name="description" id="description" placeholder="enter-description" value="<%= bird.description %>">

        <label for="wingspan_cm">Enter wingspan_cm</label>
        <input type="text" name="wingspan_cm" id="wingspan_cm" placeholder="enter-wingspan_cm" value="<%= bird.wingspan_cm %>">

        <label for="weight_kg">Enter weight_kg</label>
        <input type="text" name="weight_kg" id="weight_kg" placeholder="enter-weight_kg" value="<%= bird.weight_kg %>">

        <button>Submit</button>
    </form>
    <a href="edit">edit</a>
</body>
</html>